<div class="container py-5">
<h1>Contact Us</h1>
  <hr class="clearfix w-100 pb-3">
<h2>E-mail</h2>
  <p>John Harrison - Co-Founder/Senior Developer:&nbsp;&nbsp;&nbsp;jcharrison@pjhdevs.io</p>
  <p>Preston Smith - Co-Founder/Senior Developer:&nbsp;&nbsp;&nbsp;pjsmith@pjhdevs.io</p>

  <h2>Mail</h2>
  <p>1026 9th Ave S. St. Petersburg, FL 33705</p>
  <p>Monday - Friday 08:00 - 18:00</p>

  <h2><a href="https://www.facebook.com/pjhdevs" target="_blank"><mat-icon>thumb_up_alt</mat-icon> On Facebook!</a></h2>

</div>
