<mat-card id= "webDev" class="orange darken-2">
  <div id="padding">
    <div>
      <h2 class="h1 display-2 font-weight-bold text-center text-white">Web Development</h2>
      <p id="phrase" class="lead text-center text-white">Turn your web dreams ideas into a reality.</p>
    </div>
    <hr class="clearfix w-100 pb-3">
    <div>
      <p id="description" class="text-white">Using an assortment of web technologies, such as
        HTML5, CSS, Angular, MySQL or NoSQL Databases, Javascript, PHP and others, we will develop a personalized web
        solution that fits your needs.
        Our responsive team will keep you up to date with the progress, as well as accept any input from you in order to
        produce the product you desire. Our products include intuitive, user-friendly designs as well as unique,
        professional interfaces.
        We can provide static/dynamic web pages, web applications for personal or business purposes, e-commerce sites
        and much more.</p>
    </div>
  </div>
</mat-card>


