<div id="overlay" class="py-5">
<div class="intro-2 card ">
    <div class="text-center margins">
      <div class="text-white text-center py-5 px-4 my-5">
        <div>
          <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">Welcome to PJH Devs!</h2>
          <p id="description" class="mx-5 mb-5">Our team has over 11 years of experience in the private and public sectors.
          We are adaptable to any tech stack and will work with you every step of the way to develop your technical needs, your way!</p>
          <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect href="#create-idea">
            <mdb-icon fas icon="clone" class="left"></mdb-icon>
            Submit Your Idea!
          </a>
        </div>
      </div>
    </div>
</div>
</div>

