<mat-card id="create-idea">
  <mat-form-field color="accent">
    <input matInput type="text" id="first_name" name="first_name" placeholder="First Name">
  </mat-form-field>
  <br/>
  <mat-form-field color="accent">
    <input matInput type="text" id="last_name" name="last_name" placeholder="Last Name">
  </mat-form-field>
  <br/>
  <mat-form-field color="accent">
    <input matInput type="email" id="email" name="email" placeholder="Email">
  </mat-form-field>
  <br/>
  <mat-form-field color="accent">
    <input matInput type="text" id="phone_number" name="phone_number" placeholder="Phone Number">
  </mat-form-field>
  <br/>
  <mat-form-field color="accent">
    <textarea matInput name="idea" rows="6" [(ngModel)]="enteredValue" placeholder="Describe Your Idea" ></textarea>
  </mat-form-field>
  <br/>
  <button  class="text-white blue lighten-1" mat-raised-button (click)="onAddIdea()">Submit</button>
  <p><small>By clicking 'Submit', you confirm you have read and agree to our <a class="orange-text" href="">Privacy Policy</a> and <a class="orange-text" href="">Non-Disclosure Agreement</a></small></p>
  <p class="grey-text"><small>*All submissions are subject to approval by the development team, we will still respect your creative content and promise not to utilize it</small></p>
</mat-card>

