<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Success</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>Thank you! You should be receiving an email confirmation of your submission momentarily.
            After we review your submission, one of our developers will contact you via email
          to ask some more specific questions about what you would like done.
            These questions will be along the lines of, "Who is the intended audience?",
            and "What is the key functionality you are looking for?".
            Keep these details in mind so that we can help make your request possible! Thank you again for choosing PJH Devs,
            we're looking forward to making your idea into a reality!</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" class="waves-effect" mdbWavesEffect (click)="frame.hide()">Awesome!</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<mat-card id="create-idea">
  <form (submit)="onAddIdea(ideaForm)" #ideaForm="ngForm" >
    <mat-form-field color="accent">
      <input matInput
             type="text"
             id="first_name"
             name="first_name"
             ngModel #first_name="ngModel"
             placeholder="First Name"
             required
             minlength="2"
             pattern="[a-zA-Z]+">
      <mat-error *ngIf="first_name.invalid">Please enter your first name</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field color="accent">
      <input matInput
             type="text"
             id="last_name"
             name="last_name"
             placeholder="Last Name"
             ngModel #last_name="ngModel"
             required
             minlength="2"
             pattern="[a-zA-Z]+">
      <mat-error *ngIf="last_name.invalid">Please enter your last name</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field color="accent">
      <input matInput
             type="email"
             id="email"
             name="email"
             placeholder="Email"
             ngModel #email="ngModel"
             required
             email
             pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
      <mat-error *ngIf="email.invalid">Please enter a valid email address</mat-error>
    </mat-form-field>
    <br/>
    <mat-form-field color="accent">
      <input matInput
             type="text"
             id="phone_number"
             name="phone_number"
             placeholder="Phone Number (optional)" ngModel #phone_number="ngModel"
             minlength="10"
             mask="(000)-000-0000">
      <mat-hint>Phone Number Format: (XXX)-XXX-XXXX</mat-hint>
    </mat-form-field>
    <br/>
    <mat-form-field color="accent">
    <input matInput
              type="text"
              name="app_name"
              placeholder="App Name (optional)"
              ngModel #app_name="ngModel"
              >
      <mat-hint>You can choose a name now or decide later</mat-hint>
    </mat-form-field>
    <br/>
    <mat-form-field color="accent">
    <textarea matInput
              cdkTextareaAutosize
              name="description"
              placeholder="Describe Your Idea"
              ngModel #description="ngModel"
              rows="2"
              required></textarea>
      <mat-error *ngIf="description.invalid">Please describe your idea, so we can create it</mat-error>
    </mat-form-field>
    <br/>
    <re-captcha
      ngModel #captcha="ngModel"
      name="captcha"
      (resolved)="resolved($event)"
      required
    ></re-captcha>
  <br/>
    <button class="text-white blue lighten-1" mat-raised-button type="submit">Submit</button>
    <p><small>By clicking 'Submit', you confirm you have read and agree to our <a class="orange-text" routerLink="/privacy">Privacy
      Policy</a>, our <a class="orange-text" routerLink="/termsandconditions">Terms and Conditions</a> and are over the age of 13.</small></p>
    <p class="grey-text"><small>*All submissions are subject to approval by the development team, we will still respect
      your creative content and promise not to utilize it</small></p>
  </form>
</mat-card>

<!--  and <a class="orange-text" routerLink="/nda">Non-Disclosure Agreement</a> -->
