<mat-card id="mobiDev" class="rgba-blue-strong">
  <div id="padding">
    <h2 class="h1 display-2 font-weight-bold text-center text-white">Mobile Development</h2>
    <div>
      <p id="phrase" class="lead text-white text-center">Your ideas, on the go!</p>
    </div>
    <hr class="clearfix w-100 pb-3">
    <div>
      <p id="description" class="text-white">Whether you want an iOS application, Android
        application or both, we can provide it.
        Business or personal, free or paid, we will design a sleek and efficient application that fits your idea.
        Our team can build applications quickly and produce a product that you can start using right away.
        We will provide maintenance and support throughout its lifecycle. We will provide continuous updates so you have
        a say in every step of the development.</p>
    </div>
  </div>
</mat-card>
