<nav class="navbar navbar-dark grey darken-3">
  <a routerLink=""><img id="topLogo" src="../../assets/logo.png" alt="Logo"></a>
  <p class="text-white">PJH Devs</p>
    <button class="hamburger hamburger--spin" (click)="clickEvent()" [ngClass]="status ? 'is-active' : ''" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  <div mdbCollapse [isCollapsed]="true" class="navbar-collapse">
    <ul class="list-unstyled">
      <li><a class="nav-link waves-light text-white hoverable" mdbWavesEffect routerLink="" (click)="clickEvent()">Home</a></li>
      <li><a class="nav-link waves-light text-white hoverable" mdbWavesEffect href="#webDev" (click)="clickEvent()">Web Development</a></li>
      <li><a class="nav-link waves-light text-white hoverable" mdbWavesEffect href="#mobiDev" (click)="clickEvent()">Mobile Development</a></li>
      <li><a class="nav-link waves-light text-white hoverable" mdbWavesEffect href="#legacy" (click)="clickEvent()">Legacy Modernization</a></li>
      <li><a class="nav-link waves-light text-white hoverable" mdbWavesEffect href="#enterprise" (click)="clickEvent()">Enterprise Development</a></li>
    </ul>
  </div>
</nav>

