<mat-card id="enterprise" class="rgba-black-strong content">
  <div id="padding">
    <h2 class="h1 display-2 font-weight-bold text-center text-white">Enterprise Development</h2>
    <div>
      <p id="phrase" class="lead grey-text text-center text-white">Your business solutions, your way.</p>
    </div>
    <hr class="clearfix w-100 pb-3">
    <div>
      <p id="description" class="text-white">We offer a wide range of solutions for your
        business needs.
        Our team will work side-by-side with you in order to develop you ideas quickly, professionally and with the
        functionality you desire.
        We can integrate the new application seamlessly into existing data models so that everything works together. Our
        work is the secure and efficient answer to your problems.
        Public or private sector, web or mobile, legacy or new, we can develop exactly what your company needs to
        compete.</p>
    </div>
  </div>
</mat-card>
