<mat-card id="legacy" class="rgba-white-strong">
  <div id="padding">
    <h2 class="h1 display-2 font-weight-bold text-center">Legacy Modernization</h2>
    <div>
      <p id="phrase" class="lead grey-text text-center">Give your old systems, new life!</p>
    </div>
    <hr class="clearfix w-100 pb-3">
    <div>
      <p id="description">Our team will take your old software and bring it
        up to current industry standards.
        Using the newest technologies, we will modernize your outdated system, saving you money on maintenance and
        support costs.
        We will increase the security of your systems, while maintaining the functionality and increasing its
        efficiency.
        We are comfortable renewing any system for any operating system.</p>
    </div>
  </div>
</mat-card>

