<!-- Footer -->
<footer class="page-footer font-small grey darken-3 pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->


      <!-- Grid column -->

    <div id="logo">

      <!-- Content -->
      <a routerLink=""><img src="../../assets/logo.png" alt="Logo" id="bottomLogo"></a>

    </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->

    <div id="links">

      <!-- Content -->
      <ul class="list-unstyled">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/privacy">Privacy Policy</a></li>
        <li><a routerLink="/termsandconditions">Terms and Conditions</a></li>
      </ul>
    </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://pjhdevs.io/">pjhdevs.io</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
